<StackLayout orientation="vertical" style="text-align: center;" padding="20">
    <Image class="fas" width="48px" color="red" src="font://&#xf00d;"
        horizontalAlignment="right" (onTap)="onClose()">
    </Image>

    <Label text="Şifre Değiştir" class="h3"></Label>

    <RadDataForm #changePassForm tkExampleTitle tkToggleNavButton validationMode="Immediate" [source]="passwordChange"
        commitMode="Manual">

        <TKEntityProperty tkDataFormProperty name="oldPass" displayName="Eski Şifre: " index="0">
            <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Bu alan boş olamaz."></TKNonEmptyValidator>
            <TKPropertyEditor tkEntityPropertyEditor type="Password"></TKPropertyEditor>
            <!-- <TKRegExValidator tkEntityPropertyValidators regEx="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                errorMessage="Şifreniz En Az 8 karakter olmalı, 1 harf ve 1 sayı içermeli."></TKRegExValidator> -->
        </TKEntityProperty>

        <TKEntityProperty tkDataFormProperty name="newPass" displayName="Yeni Şifre: " index="1">
            <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Bu alan boş olamaz."></TKNonEmptyValidator>
            <TKPropertyEditor tkEntityPropertyEditor type="Password"></TKPropertyEditor>
            <TKRegExValidator tkEntityPropertyValidators regEx="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                errorMessage="Şifreniz En Az 8 karakter olmalı, 1 harf ve 1 sayı içermeli."></TKRegExValidator>
        </TKEntityProperty>

        <TKEntityProperty tkDataFormProperty name="newPassConfirm" displayName="Yeni Şifre (Tekrar): " index="2">
            <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Bu alan boş olamaz."></TKNonEmptyValidator>
            <TKPropertyEditor tkEntityPropertyEditor type="Password"></TKPropertyEditor>
            <TKRegExValidator tkEntityPropertyValidators regEx="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                errorMessage="Şifreniz En Az 8 karakter olmalı, 1 harf ve 1 sayı içermeli."></TKRegExValidator>
        </TKEntityProperty>

    </RadDataForm>

    <Label #passCompare [text]="isPassOk ? '': 'İki şifre aynı değil.'" color="red"></Label>

    <Button text="Şifremi Değiştir" class="-primary" (tap)="commitPass()" horizontalAlignment="stretch"></Button>
</StackLayout>
