<BottomNavigation selectedIndex="0">
  <TabStrip iosIconRenderingMode="alwaysOriginal">

    <TabStripItem>
      <Label text="Scheduling"></Label>
      <Image src="font://&#xf0c0;" class="fas t-36"></Image>
    </TabStripItem>
    <TabStripItem>
      <Label text="Appointments"></Label>
      <Image src="font://&#xf0c0;" class="fas t-36"></Image>
    </TabStripItem>
    <TabStripItem>
      <Label text="Settings"></Label>
      <Image src="font://&#xf013;" class="fas t-36"></Image>
    </TabStripItem>
  </TabStrip>


  <TabContentItem>
    <page-router-outlet name="schedulingTab" ></page-router-outlet>
  </TabContentItem>

  <TabContentItem>
    <page-router-outlet name="appointmentsTab" ></page-router-outlet>
  </TabContentItem>

  <TabContentItem>
    <page-router-outlet name="settingsTab" ></page-router-outlet>
  </TabContentItem>
<!--actionBarVisibility="never"-->
</BottomNavigation>
